* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

body {
    background: rgb(238, 174, 202);
    background: -moz-linear-gradient(0deg, rgba(238, 174, 202, 1) 0%, rgba(245, 220, 231, 1) 48%, rgba(250, 250, 250, 1) 78%);
    background: -webkit-linear-gradient(0deg, rgba(238, 174, 202, 1) 0%, rgba(245, 220, 231, 1) 48%, rgba(250, 250, 250, 1) 78%);
    background: linear-gradient(0deg, rgba(238, 174, 202, 1) 0%, rgba(245, 220, 231, 1) 48%, rgba(250, 250, 250, 1) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#fafafa", GradientType=1);

    height: 100vh;

}

footer {
    background-color: #fafafa;
    box-shadow: rgba(33, 35, 38, 0.1) 0px -10px 10px -5px;

    display: block;

    height: 10vh;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
}

header {
    background-color: #fafafa;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -5px;

    display: flex;

    justify-content: space-around;
    align-items: center;

    margin: 0 auto;
    padding: 0 20px;
    height: 10vh;
}

h1{
    text-align: center;
    margin: 15% auto 15% auto;
    font-family: 'Montserrat', sans-serif;
    color: deeppink;
}

nav {
    flex: 1;
    text-align: right;
}

nav a {
    text-decoration: none;

    font-family: 'Chilanka', cursive;
    font-size: 20px;
    color: deeppink;

    margin-left: 20px;
}

h2 {
    color: deeppink;
    font-family: 'Chilanka', cursive;
}

p {
    font-family: 'Chilanka', cursive;
    color: deeppink;
    text-align: center;
    padding-top: 15px;
}