<h1>Pagina Sobre</h1>

<p>⁠Você está esperando alguém <br>
que nunca vai voltar <br>
ou seja <br>
você está vivendo sua vida <br>
na esperança de que alguém perceba <br>
que não pode viver a própria vida sem você</p>

<p>O que o Sol Faz com as Flores</p>