* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(223, 70, 96);
}

img {
    width: 36%;
    height: auto;
    justify-content: center;
    padding-top: 49px;
}

.dividindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img {
    text-align: center;
}

p {
    font-size: 60px;
    color: rgb(253, 210, 110);
}

#volte {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: white;
}

#text{
    text-align: center;
    padding-bottom: 70px;
}

a{
    border: none;
    text-decoration: underline rgb(253, 210, 110); ;
    color: rgb(253, 210, 110);;
    font-family:'Segoe UI';
    font-weight: bold;
    font-size: 30px;
}